<div class="container">
    <div class="row">
        <div class="col">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://docs.google.com/document/d/1z1veNdsnjJvfDff_LB-nYeEy_fG4yFfGGg9uYhpBC7E/edit?usp=sharing" type="application/pdf" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container">
    <div class="row">
        <div class="col">
            <pdf-viewer src="https://docs.google.com/document/d/1z1veNdsnjJvfDff_LB-nYeEy_fG4yFfGGg9uYhpBC7E/edit?usp=sharing"></pdf-viewer>
        </div>
    </div>
</div> -->

